<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>Loading...</title>
        <style>
            #canvas {
                border: none; /* Must have no border - emscripten */
                background-color: black;
                position: fixed;
                top: 0; left: 0;
                width: 100vw;
                height: 100vh;
            }
            #debug {
                /* Debug panel style */
                background-color: white;
                opacity: .25;
                position: fixed;
                top: 0; right: 0;
                width: 5cm;
                height: 8cm;
                transform: translateX(90%);
                transition: opacity .25s, transform .25s;
            }
            #debug:hover {
                opacity: 1;
                transform: translateX(0);
            }
        </style>
        <script>
            var Module = {};
            function init() {
                function set_status(text) {
                }
    
                Module = {
                    preRun: [],
                    postRun: [],
                    canvas: canvas,
                    setStatus: set_status
                };
    
                /* This is a bit of a roundabout way to initialize the engine, but
                    it's required because emscripten begins program execution
                    immediately on load, but we need to delay this until after the
                    page is ready for it. */
                let loadcode = document.getElementById("emc_load").content.cloneNode(true);
                document.body.appendChild(loadcode);
            }
            document.addEventListener("DOMContentLoaded", init);
        </script>
    </head>
    <body>
        <canvas id="canvas"></canvas>
        <div id="debug">
            <button onclick="Module.jsdebug.generate_resource_status_report()">Status Report</button>
        </div>
    </body>
    <template id="emc_load">
        {{{ SCRIPT }}}
    </template>
</html>
