html {
    font-family: Arial, Helvetica, sans-serif;
}
div#console {
    white-space: pre;
    color: white;
    background-color: black;
    height: 10cm;
    font-family: monospace;
    padding: 10px;
    overflow-y: scroll;
}